<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/}" th:object="${newUser}" method="post">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input th:field="*{firstName}"></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input th:field="*{lastName}"></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input th:field="*{phoneNumber}"></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Number Error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input th:field="*{age}"></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input th:field="*{email}"></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
<h3>User List</h3>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <th:block th:each="user : ${userList}">
        <tr>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </th:block>
    <div>
        <a th:href="@{'/'(page=${userList.number - 1})}" th:if="${userList.hasPrevious()}">Previous</a>
        <span th:text="${userList.number + 1}"></span>/<span th:text="${userList.totalPages}"></span>
        <a th:href="@{'/'(page=${userList.number + 1})}" th:if="${userList.hasNext()}">Next</a>
    </div>
</table>
</body>
</html>